.divAbout {
    background-color: rgb(15, 25, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.image-container {
    flex: 1;
    text-align: center;
    width: 50%; /* Adicione uma largura fixa para a imagem */
}
#img-perfil {
    max-width: 100%; /* A imagem não excederá a largura da div */
    height: auto; /* A altura será ajustada automaticamente de acordo com a largura */
    display: block; /* Evitar espaços em branco indesejados */
    margin: 0 auto; /* Centralizar a imagem horizontalmente */
    position: relative; /* Para que a imagem não cubra outros elementos */
}
.greetings-text-content {
    flex: 1;
    text-align: center;
    flex-direction: column;
    margin-right: 3%;
    color: white;
    z-index: 1; /* Elevar o conteúdo de saudação para estar na frente da imagem */
    position: relative; /* Garantir que o posicionamento funcione corretamente */
}

.h1-greeting{
    text-align: start;
    color: white;
}

.perfil-link{
    margin-top: 2rem;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    color: white;
}
.about-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;


}
.skill-title-link{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
}
.skill-content-link {
    color: white;
    font-size: 1.25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word; /* Adicionado para quebrar palavras longas em duas linhas */
    text-align: start;
    margin-bottom: 50px;

}


@media screen and (max-width: 767px) {
    .divAbout {
        flex-direction: column;
    }
    .perfil-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .h1-greeting
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem; /* Tamanho de fonte padrão */
    }
    img {
        max-width: 80%;
        height: auto;
    }
    .about-content {

        justify-content: center;
        align-items: center; 
    }
    .skill-title-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        }
    .skill-content-link {

        text-align: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .h1-greeting {
        font-size: 3.5rem; /* Tamanho de fonte intermediário */
    }
}

/* Aumenta o tamanho da fonte para telas maiores (a partir de 1024px) */
@media screen and (min-width: 1024px) {
    .h1-greeting {
        font-size: 4.5rem; /* Tamanho de fonte maior para telas maiores */
    }
}
