.divExperience {
    display: flex;
    align-items: flex-start;
    background-color: rgb(80, 80, 230);
    min-height: 300px;
    padding-top: 10px;

}
.experience-div-title{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(80, 80, 230);
}
.experience-title {
    text-align: center;
    font-size: 2.25rem;
    line-height: 1.2;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px 0;
}
.experience-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.experience-title {
    margin-top: 30px;
}
.experience-item {
    flex: 10 0 calc(40% - 0%);
    margin: 0 2% 30px 2%;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center; /* Centralize o conteúdo */

}
.expience-details {
    display: flex;
    flex-wrap: wrap;
}

.experience-header {
    flex: 0 0 50%; /* Divide em duas colunas */
    padding: 5px;
}

.experience-item .experience-details {
    flex: 1; /* Ocupa o restante do espaço disponível */
    text-align: left; /* Alinhe o texto à esquerda */

}
.company-job-description, .company-stacks, .company-job-workperiod,.company-title,.company-job {
    font-weight: bold;
}

.company-job-description-content, .company-stacks-content {
    word-wrap: break-word; /* Quebra de palavras para evitar que o texto ultrapasse o contêiner */
}

/* Estilos para telas menores (por exemplo, dispositivos móveis) */
@media (max-width: 768px) {
    .experience-list {
        display: block;
    }

    .experience-item {
        flex: 100%;
    }
}

