.divExperience {
    background-color: rgb(80, 80, 230);
    min-height: 300px;
    padding-top: 10px;
}
.experience-div-title{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(80, 80, 230);
}
.experience-title {
    text-align: center;
    font-size: 2.25rem;
    line-height: 1.2;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px 0;
}
.experience-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.experience-title {
    margin-top: 30px;
}
.experience-item {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.expience-details {
    display: flex;
    flex-wrap: wrap;
}
.experience-item { 
    margin-right: 20px; /* Espaço entre a imagem e o título */
}
.experience-header {
    flex: 0 0 50%; /* Divide em duas colunas */
    padding: 5px;
}
.project-image img {
    max-width: 100%;
    height: auto;
    max-height: 80px; /* Define a altura máxima da imagem para 80px */
}

.experience-item .experience-details {
    flex: 1; /* Ocupa o restante do espaço disponível */
    text-align: left; /* Alinhe o texto à esquerda */

}
.company-job-description, .company-stacks, .company-job-workperiod,.company-title,.company-job {
    font-weight: bold;
}

.company-job-description-content, .company-stacks-content {
    word-wrap: break-word; /* Quebra de palavras para evitar que o texto ultrapasse o contêiner */
}

/* Estilos para telas menores (por exemplo, dispositivos móveis) */
@media (max-width: 768px) {
    .project-list {
        display: block;
    }

    .project-item {
        flex: 100%;
    }
}

.project-text-container {
    max-width: 80%;
}
