/* Estilos CSS para a barra de navegação */
.navbar {
    overflow: hidden;
    background-color: rgb(5, 5, 20);
    /* Cor de fundo da navbar */
    position: fixed;
    /* Tornar a barra de navegação fixa no topo da página */
    top: 0;
    /* Garantir que fique no topo da página */
    width: 100%;
    /* Ocupar a largura total da página */
    z-index: 1;
    /* Colocar a barra de navegação acima do conteúdo */
    min-height: 70px;
}

/* Estilizando os links da navbar */
.navbar a {
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* Mudar a cor dos links quando o mouse passar por cima deles */
.navbar a:hover {
    background-color: #ddd;
    /* Cor de fundo ao passar o mouse por cima */
    color: black;
    /* Cor do texto ao passar o mouse por cima */
}

/* Estilos para a imagem do logo na navbar */
.navbar img {
    float: left;
    width: 60px;
    height: 60px;
    align-items: center;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 50%;
    margin-top: 10px;
}

/* Estilos para o menu móvel */
.navbar a.icon {
    display: none;
}

/* Estilos para o seletor de idioma */
.navbar select {
    float: right;
    /* Mover o seletor de idioma para a direita */
    padding: 31px;
    background-color: #333;
    /* Cor de fundo do seletor */
    color: white;
    border: none;
}

/* Estilos para o nome ao lado da imagem */
.navbar .name {
    float: left;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 14px 0;
    text-decoration: none;
    font-weight: bolder;
}

.right-fields {
    float: right;
    vertical-align: center;
}

.right-fields select,
.right-fields a {
    margin-left: 10px;
    /* Espaçamento entre os campos */
}

@media screen and (max-width: 767px) {
    .navbar a:not(.name) {
        display: none;
        /* Ocultar todos os itens, exceto o nome, em dispositivos móveis */
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
    .navbar .name {
        font-size: 14px;
    }
    .navbar select {
        font-size: 8px; /* Tamanho de fonte menor */
        padding: 8px; /* Menos espaço entre os campos */
    }
}

/* Estilos para o menu móvel aberto */
.navbar.responsive {
    z-index: 1;
    top: 0;
    position: fixed;
}

.navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}

.navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    height: 40px;
}
.navbar.responsive a hover{
    height: 40px;
}





