.project {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: rgb(230, 230, 230);
    min-height: 200px;

}
.project-div-title{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-color: rgb(230, 230, 230);
}
.portifolio-title{
    text-align: center;
    font-size: 2.25rem;
    line-height: 59px;
    color: rgb(5, 5, 20);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.divPortifolio {
    background-color: rgb(230, 230, 230);
    min-height: 200px;
}
.project-image {
    margin-right: 20px;
}

.project-image img {
    max-width: 100px; /* Tamanho máximo da imagem à esquerda */
}

.project-details {
    flex: 1;
    max-width: 80%;

}
.project-text-container {
    max-width: 80%;

}